.footer {
  background-color: #5b5f97;
}

small {
  color: #ffffff;
}

.social-media a {
  color: #ffffff;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

@media (min-width: 1000px) {
  .about {
    flex-direction: row;
      align-items: flex-start;
  }
}

.headshot {
  width: 50vw;
}

.text h3 {
  color: #ffffff;
  font-style: italic;
  font-size: 1.3em;
  margin-top: 0;
  padding: .5em 1em;
  background-color: #ff6b6b;
  font-weight: lighter;
  text-align: center;
}

.text {
  width: 90vw;
  font-family: "Roboto";
  text-align: left;
  color: #454949;
  font-size: 1.15em;
  line-height: 1.75em;
  font-style: normal;
  margin: 2em;
}

@media (min-width: 1000px) {
  .text {
    margin: 0;
    width: 45vw;
  }

  .headshot {
    width: 30vw;
  }
}
.text a {
  color: #ff6b6b;
}
