.footer {
  background-color: #5b5f97;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

small {
  color: #ffffff;
}

.social-media a {
  color: #ffffff;
}

body {
  max-width: 1000px;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

@media (min-width: 1000px) {
  .about {
    flex-direction: row;
      align-items: flex-start;
  }
}

.headshot {
  width: 80vw;
}

.text h3 {
  /* color: #ffffff; */
  font-size: 1.2em;
  margin-top: 0;
  /* padding: .5em 1em; */
  /* background-color: #ff6b6b;
  font-weight: lighter;
  text-align: center; */
  font-family: "Roboto";
  letter-spacing: .03em;
  text-decoration: underline;
  font-weight: lighter;
}

.text {
  width: 80vw;
  font-family: "Roboto";
  text-align: left;
  color: #454949;
  font-size: 1.15em;
  line-height: 1.75em;
  font-style: normal;
  margin: 2em;
}

@media (min-width: 1000px) {
  .text {
    max-width: 40vw;
    position: relative;
    left: 20vw;
    top: -4em;
  }

  .headshot {
    width: 25vw;
    position: fixed;
    left: 15vw;
    top: 7.5em;
  }
}
.text a {
  color: #ff6b6b;
}
