nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
}

@media (min-width: 1000px) {
  nav {
    justify-content: center;
  }
}

.menu-items {
  height: auto;
  width: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  display: none;
}

@media (min-width: 1000px) {
  .menu-items {
    display: flex;
    justify-content: center;
  }
}

.menu-items.open {
  display: block;
  width: 50%;
  position: fixed;
  background: rgba(255,255,255,0.8);
  top: 10vh;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,280);
    -webkit-transform: translate(0,280); /** Chrome & Safari **/
    -o-transform: translate(0,280); /** Opera **/
    -moz-transform: translate(0,280); /** Firefox **/
    z-index: 100;
}

.hamburger {
  z-index: 1000;
  background-color: #FFFFFF;
  color: #494d77;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: 50px;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

body {
  margin: 0;
}

.menu-items a {
  text-decoration: none;
  font-family: "Roboto";
  color: #494d77;
  text-transform: lowercase;
  letter-spacing: 2px;
  display: block;
  margin: 1em auto;
  padding: 1em;
  border-bottom: 1px solid #f1f2f2;
  width: 70%;
}

@media (min-width: 1000px) {
  .menu-items a {
    border-bottom: none;
    margin: 3em;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: "Caveat Brush";
  color: #FF6B6B;
  font-size: 4em;
  align-items: center;
  text-align: center;
  margin-top: 30vh;
}

.footer {
  background-color: #5b5f97;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
}

small {
  color: #ffffff;
  font-family: "Roboto";
  padding-top: 1em;
}

@media (min-width: 650px) {
  small {
  padding-top: 0;
  }
}

.social-media ul {
  margin: 0 auto;
}

.social-media li {
  list-style: none;
  display: inline;
}

.social-media a {
  color: #ffffff;
  padding: 10px;
}
