nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
}

@media (min-width: 1000px) {
  nav {
    justify-content: center;
  }
}

.menu-items {
  height: auto;
  width: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  display: none;
}

@media (min-width: 1000px) {
  .menu-items {
    display: flex;
    justify-content: center;
  }
}

.menu-items.open {
  display: block;
  width: 50%;
  position: fixed;
  background: rgba(255,255,255,0.8);
  top: 10vh;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,280);
    -webkit-transform: translate(0,280); /** Chrome & Safari **/
    -o-transform: translate(0,280); /** Opera **/
    -moz-transform: translate(0,280); /** Firefox **/
    z-index: 100;
}

.hamburger {
  z-index: 1000;
  background-color: #FFFFFF;
  color: #494d77;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: 50px;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

body {
  margin: 0;
}

.menu-items a {
  text-decoration: none;
  font-family: "Roboto";
  color: #494d77;
  text-transform: lowercase;
  letter-spacing: 2px;
  display: block;
  margin: 1em auto;
  padding: 1em;
  border-bottom: 1px solid #f1f2f2;
  width: 70%;
}

@media (min-width: 1000px) {
  .menu-items a {
    border-bottom: none;
    margin: 3em;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .body {
    width: 60%;
  }
}

.title {
  text-align: center;
  margin-top: 10vh;s
}

.title h1 {
  font-family: "Caveat Brush";
  color: #FF6B6B;
  font-size: 4em;
  margin: 0;
}

.title h2 {
  font-family: "Roboto";
  color: #808080;
  font-size: 1.5em;
  line-height: 1.75em;
}

.btn {
  color: #ffffff;
  background-color: #FF6B6B;
  padding: 1em;
  font-family: "Roboto";
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 40%;
  margin: auto;
}

.btn a {
  color: #ffffff;
}

.title img {
  max-width: 100%;
}

.text {
  margin-top: 1em;
}
.text h2 {
  color: #494d77;
  font-family: "Roboto";
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.text h3 {
  color: #ff6b6b;
  font-weight: bolder;
  font-family: "Roboto";
  text-align: left;
  font-size: 1.2em;
  text-transform: uppercase;
}

.text p {
  font-family: "Roboto";
  text-align: left;
  color: #454949;
  font-size: 1.15em;
  line-height: 1.75em;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.text a {
  color: #ff6b6b;
}

.btn {
  color: #ffffff;
  background-color: #FF6B6B;
  padding: 1em;
  font-family: "Roboto";
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  max-width: 90vw;
  margin: 0 auto;
}

.images img {
  max-width: 100%;
  margin: 1em;
}

@media (min-width: 1000px) {
  .images {
    width: 50vw;
  }
}

.mockups {
  display: grid;
  grid-template-columns: 100%;
  max-width: 90vw;
  margin-top: 1em;
  grid-column-gap: 1em;
  justify-items: center;
}

.hide {
  display: none;
}

@media (min-width: 1000px) {
  .mockups {
    grid-template-columns: 50% 50%;
    max-width: 90vw;
  }

  .hide {
    display: grid;
  }
}

.mockups img {
  padding: 1em;
  max-width: 100%;
}

.footer {
  background-color: #5b5f97;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
}

small {
  color: #ffffff;
  font-family: "Roboto";
  padding-top: 1em;
}

@media (min-width: 650px) {
  small {
  padding-top: 0;
  }
}

.social-media ul {
  margin: 0 auto;
}

.social-media li {
  list-style: none;
  display: inline;
}

.social-media a {
  color: #ffffff;
  padding: 10px;
}
