nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
}

@media (min-width: 1000px) {
  nav {
    justify-content: center;
  }
}

.menu-items {
  height: auto;
  width: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  display: none;
}

@media (min-width: 1000px) {
  .menu-items {
    display: flex;
    justify-content: center;
  }
}

.menu-items.open {
  display: block;
  width: 50%;
  position: fixed;
  background: rgba(255,255,255,0.8);
  top: 10vh;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,280);
    -webkit-transform: translate(0,280); /** Chrome & Safari **/
    -o-transform: translate(0,280); /** Opera **/
    -moz-transform: translate(0,280); /** Firefox **/
    z-index: 100;
}

.hamburger {
  z-index: 1000;
  background-color: #FFFFFF;
  color: #494d77;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: 50px;
}

@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

body {
  margin: 0;
}

.menu-items a {
  text-decoration: none;
  font-family: "Roboto";
  color: #494d77;
  text-transform: lowercase;
  letter-spacing: 2px;
  display: block;
  margin: 1em auto;
  padding: 1em;
  border-bottom: 1px solid #f1f2f2;
  width: 70%;
}

@media (min-width: 1000px) {
  .menu-items a {
    border-bottom: none;
    margin: 3em;
  }
}

.hero {
  background-color: #ffffff;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: "Roboto Slab";
  color: #ff6b6b;
  font-size: 2em;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: .07em;
}

.hero h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.15em;
  margin-top: 0;
  text-align: center;
  color: #494d77;
  letter-spacing: 3px;
  border-bottom: 1px solid #ff6b6b;
  padding-bottom: .5em;
  max-width: 70%;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

.projects {
  height: auto;
  background-color: #5b5f97;
  padding-bottom: 3em;
}

.project-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects h2 {
  font-family: "Roboto Slab";
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 1.75em;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 1em;
  margin: .5em auto;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #f1f2f2;
  margin: 1em;
  padding: 1em;
}

@media (min-width: 1000px) {
  .project {
    width: 40vw;
  }
}

.project img {
  max-width: 100%;
}

.contact {
  height: 90vh;
  background-color: #4ECDC4;
}

.typeform-widget {
  max-width: 100%;
  height: 90vh;
}

.footer {
  background-color: #5b5f97;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

small {
  color: #ffffff;
  font-family: "Roboto";
  padding-top: 1em;
}

.social-media ul {
  margin: 0 auto;
}

.social-media li {
  list-style: none;
  display: inline;
}

.social-media a {
  color: #ffffff;
  padding: 10px;
}
