nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 100;
}

@media (min-width: 650px) {
  nav {
    justify-content: center;
  }
}

.menu-items {
  height: auto;
  width: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  display: none;
}

@media (min-width: 650px) {
  .menu-items {
    display: flex;
    justify-content: center;
  }
}

.menu-items.open {
  display: block;
  width: 50%;
  position: fixed;
  background: rgba(255,255,255,0.8);
  top: 10vh;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  transform: translate(0,280);
    -webkit-transform: translate(0,280); /** Chrome & Safari **/
    -o-transform: translate(0,280); /** Opera **/
    -moz-transform: translate(0,280); /** Firefox **/
    z-index: 100;
}

.hamburger {
  z-index: 1000;
  background-color: #FFFFFF;
  color: #494d77;
  font-size: 35px;
  text-align: center;
  border-radius: 2px;
  height: 50px;
  width: 50px;
}

@media (min-width: 650px) {
  .hamburger {
    display: none;
  }
}

body {
  margin: 0;
}

.menu-items a {
  text-decoration: none;
  font-family: "Roboto";
  color: #494d77;
  text-transform: uppercase;
  display: block;
  margin: 1em auto;
  padding: 1em;
  border-bottom: 1px solid #f1f2f2;
  width: 70%;
}

@media (min-width: 650px) {
  .menu-items a {
    border-bottom: none;
    margin: 3em;
  }
}

.hero {
  background-color: #f1f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-family: "Caveat Brush";
  color: #ff6b6b;
  font-size: 6em;
  margin-bottom: 0;
  text-align: center;
}

.hero h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.5em;
  margin-top: 0;
  text-align: center;
  color: #494d77;
  letter-spacing: 3px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;

   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

.zigzag:before {
  background:
    linear-gradient(-45deg, transparent 16px, #f1f2f2 0),
    linear-gradient(45deg, transparent 16px, #f1f2f2  0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 22px 32px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
}

.zigzag::after {
  background:
		linear-gradient(-45deg, #f1f2f2 16px, red 16px, blue 16px,  transparent 0),
		linear-gradient(45deg, #f1f2f2 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 22px 32px;
  content: " ";
  display: block;
  width: 100%;
  height: 32px;
}

.projects {
  height: auto;
  background-color: #5b5f97;
}

.projects h2 {
  font-family: "Caveat Brush";
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 2px;;
  color: #FFFFFF;
  font-weight: lighter;
  padding-top: 45px;
  margin: auto;
  text-align: center;
}

.project-link {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  display: relative;
  text-align: center;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project:hover .image {
  opacity: 0.3;
}

.project:hover {
  opacity: 1;
}

.project img {
  max-width: 100%;
  max-height: 60vh;
}

.project h3 {
  font-family: "Roboto";
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  font-weight: lighter;
}

.about {
  background-color: #f1f2f2;
}

.about h2 {
  font-family: "Caveat Brush";
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 2px;;
  color: #ff6b6b;
  font-weight: lighter;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.about h3 {
  font-family: "Roboto";
  margin-top: 0;
  font-size: 2em;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.headshot {
  max-width: 80%;
  max-height: 80vh;
  padding-top: 1em;
  text-align: center;
}

.text {
  font-family: "Roboto";
  max-width: 80%;
  font-size: 1.2em;
  line-height: 1.75em;
  color: #494d77;
  padding: 1em;
}

@media (min-width: 650px) {
  .text {
    max-width: 50%;
    padding: 1.5em;
  }
}

.text a {
  color: #ff6b6b;
}

.contact {
  height: 90vh;
  background-color: #4ECDC4;
}

.typeform-widget {
  max-width: 100%;
  height: 90vh;
}

.footer {
  background-color: #FFFFFF;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

small {
  color: #5b5f97;
  font-family: "Roboto";
  padding-top: 1em;
}

.social-media ul {
  margin: 0 auto;
}

.social-media li {
  list-style: none;
  display: inline;
}

.social-media a {
  color: #5b5f97;
  padding: 10px;
}
